body {
	font-family:'Times New Roman', Times, serif;
	font-size: 18px;
	line-height: 1.5;
	color: #333;
}
h1{
	text-align: center;
}
.title{
	color: white;
}
#addGarmentBtn {
	margin-bottom: 2%;
}

#addGarmentBtn a:link, #addGarmentBtn a:visited {
	color: white;
	text-decoration: none;
	padding: 10px 10px;
	text-decoration: none;
}

.container {
	margin: auto;
}

img {
	display: inline-block;
}

.caption {
	display: block;
	text-align: center;
}

.garments {
	display: flex;
	flex-wrap: wrap;
}

.garment {
	flex: 1;
	/* background-color: beige; */
	border: 1px solid greenyellow;
	padding: 1em;
	margin: 0.25em;
	border-radius: 0.5em;
}

.hidden {
	display: none;
}

.field label {
	display: block;
	width: 5em;
	margin-top: 0.5em;
}

.mt1 {
	margin-top: 1em;
}

/*.loginInfo{
	margin-top: 15%;
}
.register, .login{
	margin-left: 1%;
}*/
.message {

	margin-top: 1em;
	padding: 1em;

	background-color: lightsalmon;


}
.filter{
	margin-top: 1%;
}
/*.errorMessage{
	color: rgb(177, 69, 26);
}*/

.success{
    background-color: rgb(10, 90, 10) !important;

}



/* The snackbar - position it at the bottom and in the middle of the screen */
#snackbar {
	/* visibility: hidden; 
	 Hidden by default. Visible on click */
	min-width: 100px;
	/* Set a default minimum width */
	margin-left: -125px;
	/* Divide value of min-width by 2 */
	background-color:red;
	/* Black background color */
	color:white;
	/* White text color */
	text-align: center;
	/* Centered text */
	border-radius: 10px;
	/* Rounded borders */
	padding: 20px;
	/* Padding */
	position: fixed;
	/* Sit on top of the screen */
	
	/* Add a z-index if needed */
	left: 10%;
	/* Center the snackbar */
	bottom: 70px;
	/* 30px from the bottom */
	visibility: visible;
	/* Show the snackbar */
	/*Add animation: Take 0.5 seconds to fade in and out the snackbar.
	However, delay the fade out process for 2.5 seconds */
	
}

/* Show the snackbar when clicking on a button (class added with JavaScript) 
#snackbar.show {
	visibility: visible;
	/* Show the snackbar */
	/* Add animation: Take 0.5 seconds to fade in and out the snackbar.
	However, delay the fade out process for 2.5 seconds */
	/*-webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
	animation: fadein 0.5s, fadeout 0.5s 2.5s; */

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
	from {
		bottom: 0;
		opacity: 0;
	}

	to {
		bottom: 30px;
		opacity: 1;
	}
}

@keyframes fadein {
	from {
		bottom: 0;
		opacity: 0;
	}

	to {
		bottom: 30px;
		opacity: 1;
	}
}

@-webkit-keyframes fadeout {
	from {
		bottom: 30px;
		opacity: 1;
	}

	to {
		bottom: 0;
		opacity: 0;
	}
}

@keyframes fadeout {
	from {
		bottom: 30px;
		opacity: 1;
	}

	to {
		bottom: 0;
		opacity: 0;
	}
}